<section class="section builds">
  <div class="container">
    <h2 class="builds-title">Збудовані обʼєкти</h2>

    <ul class="builds-type-list">
      <li class="builds-type-item">
        <a href="#" class="builds-type active">Усі</a>
      </li>
      <li class="builds-type-item">
        <a href="#" class="builds-type">Житловий</a>
      </li>
      <li class="builds-type-item">
        <a href="#" class="builds-type">Громадський</a>
      </li>
      <li class="builds-type-item">
        <a href="#" class="builds-type">Спортивний</a>
      </li>
    </ul>

    <ul class="builds-cards-list js-builds-cards-list"></ul>

    <button type="button" class="load-more-button js-load-more-button">
      Завантажити ще
      <svg width="8" height="12" class="load-more-icon">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </button>

  </div>
</section>