<footer class="footer">
  <div class="container footer-container">
    <div class="contact-title-block">
      <h2 class="footer-title">Контакти</h2>

      <div class="contact-block">
        <div class="main-office-block">
          <h3 class="main-office-title">Головний офіс:</h3>
          <p class="main-office-email">SmartorangeTest@gmail.com</p>
          <button type="button" aria-label="Button for opening google maps" class="main-office-button">Відкрити Google
            Maps</button>
        </div>

        <div class="social-media-block">
          <h3 class="social-media-title">Наші соцмережі:</h3>

          <ul class="social-media-list">
            <li>
              <a href="#" class="social-media-link">
                <svg width="12" height="12" class="social-media-icon">
                  <use href="./img/icons.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-media-link">
                <svg width="12" height="10" class="social-media-icon">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-media-link">
                <svg width="6" height="12" class="social-media-icon">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="social-media-link">
                <svg width="10" height="12" class="social-media-icon">
                  <use href="./img/icons.svg#icon-tiktok"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="phones-block">
          <h3 class="phones-title">Телефони відділів:</h3>

          <ul class="phones-list">
            <li class="phones-item">
              <svg width="14" height="14" class="phones-icon">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
              <a href="tel:(044)444-44-44" class="phones-link">(044) 444-44-44</a>
              <p class="phones-desc">( Юридичний відділ )</p>
            </li>
            <li class="phones-item">
              <svg width="14" height="14" class="phones-icon">
                <use href="./img/icons.svg#icon-phone"></use>
              </svg>
              <a href="tel:(055)555-55-55" class="phones-link">(055) 555-55-55</a>
              <p class="phones-desc">( Бухгалтерія )</p>
            </li>
          </ul>
        </div>

        <div class="email-block">
          <h3 class="email-title">Email:</h3>
          <a href="mailto:office@smarto.ua" class="email-link">office@smarto.ua</a>
        </div>

      </div>
    </div>

    <div class="slogan-block">
      <div class="swiper footer-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="./img/сompany.png" alt="First slide image" width="830" height="680" class="footer-swiper-image">
          </div>
          <div class="swiper-slide">
            <img src="./img/stock.png" alt="Second slide image" width="830" height="680" class="footer-swiper-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>